<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    	Użytkownik <%= @user %> dodał piosenkę: "<%= @tytul %>"
    </p>
    <p>
    	Zobacz czy nadaje się <%= link_to "do publikacji", @url %> ;)
    </p>
  </body>
</html>